# Builds.
debug/
release/
build/
cmake-build-debug/
cmake-build-release/

# Caches.
.cache/

# Project files.
.kdev4/
*.kdev4
.vscode/
*.kateproject
.idea/
.vs/

# Compile commands.
compile_commands.json
